/* 폰트 적용 */
@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

html {
	font-family: "Noto Sans KR", sans-serif;
}

/* 노말라이즈 */
html, body, ul, li, h1, h2, h3 {
	margin: 0;
	padding: 0;
	list-styel: none;
}

/* 라이브러리 */
.con {
	margin: 0 auto;
}

.table-box>table {
	width: 100%;
	border-collapse: collapse;;
}

.table-box>table th, .table-box>table td {
	border: 1px solid black;
	padding: 20px;
}

/* 폼 타입 1 */
.form.form-type-1 input[type="text"], .form.form-type-1 textarea {
	display: block;
	width: 100%;
}

.form.form-type-1 textarea {
	min-height: 300px;
	resize: none;
}

/* 커스텀 */
.con {
	width: 1000px;
}

/* 타이틀박스 시작 */
.title-box {
	margin-top: 20px;
}
/* 타이틀박스 끝 */

/* 메뉴박스 시작 */
.menu-box {
	margin-top: 20px;
}
/* 메뉴박스 끝 */

/* 메인 시작 */
body>main {
	margin-top: 20px;
}
/* 메인 끝 */